#yhz_container {
    margin: 1%;
}


#left_catalog {
    width: 27%;
    display: inline-grid;
    height: 600px;
}

#left_list{
    width: 100%;
    height: 550px;
}

#center_content {
    width: 70%;
    display: inline-grid;
    height: 600px;
}

#content_container{
    width: 100%;
    padding: 12px;
    height: 550px;
}

#right_catalog {
    width: 10%;
    display: none;
    height: 600px;
}

.border_debug {
    border: black 1px solid;
    border-radius: 5px;
}