#leftCatalog {
    border: black 1px solid;
    width: 13%;
    display: inline-block;
    margin-left: 2%;
}

#centerDiv {
    border: black 1px solid;
    width: 70%;
    display: inline-block;
}

#rightCatalog {
    border: black 1px solid;
    width: 10%;
    display: inline-block;
}